
body {
    background-color: #F7EDD3;
    color: #B96B50;
}

#menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 2250px;
    margin-bottom: 240px;
}

form{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #F9DFA0;

}

input{
    width: 450px;
    height: 70px;
    font-size: 40px;
    border: solid #B96B50;
    color: #B96B50;
}

input[type = "text"]{
    background-color: #F8F5E5;
}
button{
    width: 300px;
    height: 76px;
    font-size: 40px;
    background-color: #F9DFA0;
    color: #B96B50;
    border: solid #8f4a33;
}

.nav{
    display: flex;
    justify-content: space-between;

}

.cart{
    margin-top: 10%;
    margin-left: 16%;
    
}
#cartImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10%;
    margin-left: 10%;

}

.category{
    width: 740px;
    height: 280px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    position: relative;
    color: #B96B50;
    border: solid 5px #B96B50;
    background-color: #F8F5E5;
}

.categoryB{
    width: 740px;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 100px;
    position: relative;
    color: #B96B50;
    border: solid 5px #B96B50;
    background-color: #F8F5E5;
}

img{
    height: 280px;
    width: 280px;
    object-fit: cover;
}

.title{
    font-size: 80px;
    text-align: center;
    width: 500px
}

h1{
    text-align: center;
    font-size: 80px;
}


h2{
    text-align: center;
    font-size: 80px;
}


a{
    font-size: 40px;
    text-decoration: none;
    color: #C88246;
}

a:visited{
    color: #C88246;
}

.Back {
    margin-top: 10%;
    margin-left: 10%;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20vw;
    height: 5vh;
    border: solid;
    font-size: 5vw;
    background-color: #F9DFA0;
    color: #C88246;
    border: solid #B96B50;
}

.itemInfo{
    text-align: center;
    width: 500px;
    font-size: 45px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:0px;
    padding:0px;
    position:relative;
}

.moreInfo{
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.addCart{
    background-color: #FADEC2;
    width: 740px;
    height: 100px;
    background-color: #F9DFA0;
    color: #C88246;
    border: solid 5px #B96B50;
    text-align: center;
    justify-content: center;
    line-height: 20px;
    
}

.iDescription{
    padding:5px;
    margin:0px;
    margin-top: 10px;
    height: 180px;
    line-height: 45px;

}

.price{
    height:20px;
    margin:0px;
    text-align: center;
}

.calories{
    height:20px;
    margin:0px;
}