<!DOCTYPE html>
    <html>
        <head>
            <title>
                Anatidelicious
            </title>
            <link rel="stylesheet" href="../static/contact.css">
        </head>

        <body>
            <a href="{{ url_for('home') }}">
                <div class="Back">
                    Back
                </div>
            </a>
            <form action="{{ url_for('submit_feedback') }}" method="POST">
                <div class="Title">
                    <h1>We want to hear from you!</h1>
                </div>
                <div class="firstlabel">
                    <label for="message">Write your message here: </label><br>
                </div>
                <div class="Input">
                    <textarea style="background-color: #F8F5E5; border: solid #F9DFA0;" id="message" name="message" class="MyText"></textarea>
                    <label for="email">Enter your email:</label>
                    <input style="background-color: #F8F5E5; border: solid #F9DFA0; font-size: 5vw;" type="email" id="email" name="email" class="Email" required>
                    <input type="submit" value="Submit" class="Submit">
                </div>
            </form>
        </body>
    </html>